@use "palette" as *;

.buttonWrapper {
  box-shadow: 4px 4px 4px 0px $v70;
  white-space: normal;
  border-radius: 0.25rem;
  
  width: stretch;
  padding: $m $l;
  
  font-size: $fjm;
  font-family: $bartex;
}

.buttonWrapper:hover {
  box-shadow: 4px 4px 4px 0px $v90;
}

.buttonWrapper:active {
  box-shadow: 3px 3px 2px 0px $v90;
}

.primary {
  background-color: $t50;
  border: 2px solid $y40;
  color: $v50;
}

.primary:hover {
  background-color: $t40;
  border: 2px solid $y30;
}

.secondary {
  background-color: $p40;
  border: 2px solid $p70;
  color: $t50;
}

.tertiary {
  background-color: $v70;
  border: 2px solid $v20;
  color: $t10;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.625;
}