@use "palette" as *;

.buttonWrapper {
  box-shadow: 2px 2px 2px 0px inherit;
  white-space: normal;
  border-radius: 0.25rem;
  
  width: fit-content;
  padding: 0.75rem 1.5rem;

  font-family: $rubik;
}

.buttonWrapper:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonWrapper:active {
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.25);
}

.primary {
  background-color: $t50;
  border: 2px solid $y40;
  color: $v50;
}

.secondary {
  background-color: $p50;
  border: 2px solid $p70;
  color: $white;
}

.tertiary {
  background-color: $v50;
  border: 2px solid $v70;
  color: $t50;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.625;
}