@use "palette" as *;

$focus1white: $white50;
$focus2white: $white75;
$focus3white: $white90;

$focus1border: 1px solid $white50;
$focus2border: 1px solid $white75;
$focus3border: 1px solid $white90;

.trackCard {
  display: flex;
  flex-direction: row;
  border-radius: calc($l - 3px);
  color: $white75;
  height: calc(5rem + 2px);
  gap: $m;
  position: relative;
}

.iframe {
  width: 100%;
  height: 5rem;
  position: relative;
  z-index: 1;
}

.unSelected .iframe {
  .iframe {
    background-color: $v40;
    border: $focus1border;
    z-index: 2;
  }
}

.unSelected:hover {
  background-color: $v30;
  border: $focus2border;
}

.selected {
  background-color: $v10;
  border: $focus2border;
}

.selected:hover {
  background-color: $v00;
  border: $focus3border;
}

.isLoading {
  background-color: #eee;
  background: linear-gradient(
    110deg,
    rgba($white, 0.25) 8%,
    rgba($white, 0.2) 18%,
    rgba($white, 0.25) 33%
  );
  border-radius: $l;
  border: 1px solid $white50;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
  height: 3.875rem;
  z-index: 2;
}
