@use "palette" as *;

$focus1white: $white50;
$focus2white: $white75;
$focus3white: $white90;

$focus1border: 1px solid $white50;
$focus2border: 1px solid $white75;
$focus3border: 1px solid $white90;

.trackCard {
  display: flex;
  flex-direction: row;
  border-radius: $s;
  color: $white75;
  max-height: 4.5rem;

  padding: $xs;
  gap: $m;
}

.unSelected {
  background-color: $v40;
  border: $focus1border;

  .title {
    color: $white90;
  }
  .author {
    color: $white50;
  }
  .albumCover {
    border: $focus1border;
  }
}

.unSelected:hover {
  background-color: $v30;
  border: $focus2border;

  .title {
    color: $white;
    opacity: 0.9;
  }
  .author {
    color: $white75;
  }
  .albumCover {
    border: $focus2border;
  }
}

.selected {
  background-color: $v10;
  border: $focus2border;

  .title {
    color: $white;
  }
  .author {
    color: $white75;
  }
  .albumCover {
    border: $focus2border;
  }
}

.selected:hover {
  background-color: $v00;
  border: $focus3border;

  .author {
    color: $white90;
  }
  .albumCover {
    border: $focus3border;
  }
}

.trackData {
  display: flex;
  flex-direction: column;
  gap: $s;

  .title {
    font-size: $fm;
  }

  .author {
    font-size: $fs;
  }
}

.albumCover {
  border: 1px solid $white50;
  border-radius: $s;
}

.isLoading {
  background-color: #eee;
  background: linear-gradient(110deg, rgba($white, 0.25) 8%, rgba($white, 0.2) 18%, rgba($white, 0.25) 33%);
  border-radius: $s;
  border: 1px solid $white50;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
  height: 3.875rem;
}
