@use "palette" as *;

.screenWrapper {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.searchTracks {
  display: flex;
  flex-direction: column;
  gap: $s;
}

.bottomButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $xl;
}






















