@use "../../../styles/palette.module.scss"as *;

.lineWrapper {
  display: flex;
  flex-direction: column;
}

.lineWrapperSize1 { height: 1rem; }

.lineWrapperSize2 { height: 2rem; }

.lineWrapperSize3 { height: 4rem; }

.lineWrapperSize4 { height: 8rem; }

.line {
  height: .5rem;
  width: stretch;
}

.lineSize1 { height: 0.25rem; }

.lineSize2 { height: 0.5rem; }

.lineSize3 { height: 1rem; }

.lineSize4 { height: 2rem; }

.line1 { background-color: $m50; }

.line2 { background-color: $p50; }

.line3 { background-color: $o50; }

.line4 { background-color: $y50; }
