@use "palette" as *;

.buttonWrapper {
  box-shadow: 4px 4px 4px 0px $v70;
  white-space: normal;
  border-radius: 0.25rem;
  user-select: none;
  
  width: stretch;
  height: 2.75rem;
  padding: $m $l;
  
  font-size: $fjm;
  font-family: $bartex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper:hover {
  box-shadow: 4px 4px 4px 0px rgba($black, 0.25);
}

.buttonWrapper:active {
  box-shadow: 3px 3px 2px 0px rgba($black, 0.25);
}

.primary {
  background-color: $t50;
  border: 2px solid $y40;
  color: $v50;
}

.primary:hover {
  background-color: $t40;
  border: 2px solid $y30;
}

.secondary {
  background-color: $p40;
  border: 2px solid $p70;
  color: $t50;
}

.tertiary {
  background-color: $v70;
  border: 2px solid $v20;
  color: $t10;
}

.tertiary:hover {
  background-color: $v60;
  border: 2px solid $v10;
  color: $t00;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.625;
}

@keyframes loader {
  0%, 100% {
    height: 0.5rem;
  }
  50% {
    height: 1.5rem;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5rem;
  height: 1.5rem;
}

.loader div {
  flex-shrink: 0;
  width: 0.5rem;
  background: rgba($white, 0.25);
  border-radius: $s;
  border: 1px solid rgba($white, 0.25);
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  animation-delay: -0.32s;
}

.loader div:nth-child(2) {
  animation-delay: -0.16s;
}

.loader div:nth-child(3) {
  animation-delay: 0;
}

.loader div:nth-child(4) {
  animation-delay: 0.16s;
}

.loader div:nth-child(5) {
  animation-delay: 0.32s;
}