@use "../../../styles/palette.module.scss"as *;

.cardWrapper {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  white-space: normal;
  border-radius: 0.25rem;
  padding: 1rem;
}

.cardNormal {
  background-color: $tan;
  border: 4px solid $orange;
  color: $dark-purple;
}

.cardInverted {
  background-color: $dark-purple;
  border: 4px solid $purple;
  color: $tan;
}