@use "palette" as *;

.cardWrapper {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  white-space: normal;
  border-radius: 0.25rem;
  padding: 1rem;
}

.cardNormal {
  background-color: $t50;
  border: 4px solid $o50;
  color: $v50;
}

.cardInverted {
  background-color: $v50;
  border: 4px solid $m50;
  color: $t50;
}