$black: #000000;
$dark-purple: #5B0673;
$purple: #A6087C;
$pink: #BF1B68;
$orange: #D94848;
$yellow: #F29C50;
$tan: #FFDABA;
$white: #FFFFFF;

@mixin flex-with-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bartex';
  src:
    url('./../public/fonts/Bartex.woff2') format("woff2"),
    url('./../public/fonts/Bartex.woff') format("woff"),
    url('./../public/fonts/Bartex.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

$bartex: 'Bartex', serif;

$rubik: 'Rubik', sans-serif;

/*

Font Example

h1 {
  font-family: Rubik, arial, sans-serif;
}

*/

.screenBody {
  height: 100%;

  background-color: $dark-purple;
}