* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 5%;
    font-size: 350%;
    background-color: rgba(16, 143, 22, 0.664);
    border-radius: 30px;
    text-align: center;
}

header {
    background-color: rgb(92, 56, 255);
    color: white;
    padding: 15px;
    font-size: 250%;
    border-bottom: 5px black solid;
}

body {
    background-image: url("img/retro.jpg");
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 5px;
}

footer {
    background-color: rgb(92, 56, 255);
}

span {
    display: block;
}

.track {
    display: flex;
    background-color: rgba(16, 143, 22, 0.664);
    justify-content: space-between;
    flex-direction: row;
    padding: 8px;
    margin: 2%;
    border-radius: 50px;
}

.track-info {
    padding-left: 5%;
}

.results {
    font-size: 160%;
    line-height: 240%;
}

.like-button input[type="checkbox"] {
    height: 40px;
    width: 40px;
    background-image: url(img/thumbup.png)
}

.like-button input[type="checkbox"]:checked {
    height: 40px;
    width: 40px;
    background-image: url(img/thumbup-filled.png)
}

.center {
    margin: 15%;
}

.song-window {
    float: left;
    padding-left: 2%;
}

.c {
    font-size: 140%;
    background-color: rgba(16, 143, 22, 0.664);
    padding: 5%;
    border-radius: 30px;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Link Stlying */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.b {
    color: rgb(255, 255, 255) !important;
    text-decoration: underline !important;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Text Form Input */

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background: rgba(92, 56, 255, 0.664);
    border-radius: 5px;
    border: 2px solid #555;
}

label {
    font-size: 180%;
    padding: 1%;
    padding-bottom: 20%;
    text-align: center;
}

input[type="text"] {
    padding: 1%;
    width: 50%;
    font-size: 120%;
    background-color: rgb(92, 56, 255);
    color: white;
}

input[type="text"]::content {
    background-color: rgb(92, 56, 255);
}

input[type="checkbox"] {
    float: right;
    display: inline;
}

form {
    margin: 5%;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Button Works */

.button {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 85%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button2 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 45%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    margin: 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button3 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 30%;
    margin-left: 50%;
    margin-right: 50%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button4 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 20%;
    vertical-align: bottom;
    margin-left: 50%;
    margin-right: 50%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button:hover {
    background-color: rgb(109, 77, 255);
}

.button2:hover {
    background-color: rgb(109, 77, 255);
}

.button3:hover {
    background-color: rgb(109, 77, 255);
}

.button4:hover {
    background-color: rgb(109, 77, 255);
}

/*-------------------------------------------------------------------------------------------------------*/

/* RWD */

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Media queries to set breakpoints for different device sizes */

/* Support for Mobile */

[class*="col-"] {
    width: 100%;
}

/* Support for Tablet */

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

/* Support for desktop */

@media only screen and (min-width= "768px") {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.error-message {
}
