/* Skeleton */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Sans-Serif;
}

h1 {
    margin: 5%;
    font-size: 350%;
    background-color: rgba(16, 143, 22, 0.664);
    border-radius: 30px;
    text-align: center;
}

header {
    background-color: rgb(92, 56, 255);
    color: white;
    padding: 15px;
    font-size: 250%;
    border-bottom: 5px black solid;
}

body {
    background-image: url("img/retro.jpg");
    color: white;
}

footer {
    background-color: rgb(92, 56, 255);
}

span {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 5px;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Song card */

.track {
    display: flex;
    background-color: rgba(16, 143, 22, 0.664);
    justify-content: space-between;
    flex-direction: row;
    padding: 8px;
    margin: 2%;
    border-radius: 30px;
    border: 20px m50;
    height: 140px;
}

.cover-art {
    width: 10%;
    height: auto;
    border-radius: 10px;
    margin: 0%;
}

.track-text {
    width: 37.5%;
    padding: 0px;
    margin: 0px;
    float: left;
    font-size: 60%;
}

.album-text {
    width: 37.5%;
    padding: 0px;
    margin: 0px;
    float: left;
    font-size: 60%;
}

.song-window {
    float: left;
    padding-left: 2%;
}

/* Like button for song card. */

.like-button input[type="checkbox"] {
    margin-top: 50%;
    margin-bottom: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    background-image: url(img/thumb-up-filled.png);
}

.like-button input[type="checkbox"]:checked {
    margin-top: 50%;
    margin-bottom: 50%;
    height: 50px;
    width: 50px;
    padding: 0px;
    background-image: url(img/thumb-up-hollow.png);
}

/*-------------------------------------------------------------------------------------------------------*/

.results {
    font-size: 160%;
    line-height: 240%;
}

.center {
    margin: 15%;
}

.c {
    font-size: 140%;
    background-color: rgba(16, 143, 22, 0.664);
    padding: 5%;
    border-radius: 30px;
}

.inline {
    display: inline-block;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Error Message for first page. */

.error-message {
    color: rgb(207, 3, 3);
    font-size: 120%;
    margin: auto;
    width: 80%;
}

.error-box {
    background-color: rgba(119, 119, 119, 0.733);
    padding: 1%;
    margin: auto;
    width: 40%;
    border-radius: 12px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Text Form Input */

input[type="checkbox"] {
    background: rgba(92, 56, 255, 0.664);
    border-radius: 5px;
    border: 2px solid #555;
    margin-top: 50%;
    margin-bottom: 50%;
    padding: 0px;
}

label {
    font-size: 180%;
    padding: 1%;
    padding-bottom: 20%;
    text-align: center;
}

input[type="text"],
textarea {
    padding: 1%;
    width: 50%;
    font-size: 120%;
    background-color: rgb(92, 56, 255) !important;
    color: white;
}

input[type="text"]::content {
    background-color: rgb(92, 56, 255) !important;
}

input[type="checkbox"] {
    float: right;
    display: inline;
}

form {
    margin: 5%;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Transition Settings */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------------------------------------------------------------------------------------------------*/

/* Link Settings */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.song-image {
    color: rgb(255, 255, 255) !important;
    text-decoration: underline !important;
    width: 7.5%;
    height: auto;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.song-image:hover {
    opacity: 0.6;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Button Works */

.button {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 85%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button2 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 45%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    margin: 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button3 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 30%;
    margin-left: 50%;
    margin-right: 50%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button4 {
    background-color: rgb(92, 56, 255);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px rgb(0, 0, 0) outset;
    width: 20%;
    vertical-align: bottom;
    margin-left: 50%;
    margin-right: 50%;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button:hover {
    background-color: rgb(109, 77, 255);
}

.button2:hover {
    background-color: rgb(109, 77, 255);
}

.button3:hover {
    background-color: rgb(109, 77, 255);
}

.button4:hover {
    background-color: rgb(109, 77, 255);
}

/*-------------------------------------------------------------------------------------------------------*/

/* RWD */

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Media queries to set breakpoints for different device sizes */

/* Support for Mobile */

[class*="col-"] {
    width: 100%;
}

/* Support for Tablet */

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

/* Support for desktop */

@media only screen and (min-width= "768px") {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
