@import url('https://fonts.google.com/specimen/Inter?query=inter&stroke=Sans+Serif');

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.125;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #5B0673;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.pagePadding {
  padding: 0.5rem;
}
