// Violet

$v00: #ad83b9;
$v10: #9d6aab;
$v20: #8c519d;
$v30: #7c388f;
$v40: #6b1f81;
$v50: #5b0673;
$v60: #520568;
$v70: #49055c;
$v80: #400451;
$v90: #370445;
$v100: #2e033a;

// Magenta

$m00: #d384be;
$m10: #ca6bb0;
$m20: #c152a3;
$m30: #b83996;
$m40: #af2189;
$m50: #a6087c;
$m60: #950770;
$m70: #850663;
$m80: #740657;
$m90: #64054a;
$m100: #53043e;

// Pink

$p00: #df8db4;
$p10: #d976a4;
$p20: #d25f95;
$p30: #cc4986;
$p40: #c53277;
$p50: #bf1b68;
$p60: #ac185e;
$p70: #991653;
$p80: #861349;
$p90: #73103e;
$p100: #600e34;

// Orange

$o00: #eca4a4;
$o10: #e89191;
$o20: #e47f7f;
$o30: #e16d6d;
$o40: #dd5a5a;
$o50: #d94848;
$o60: #c34141;
$o70: #ae3a3a;
$o80: #983232;
$o90: #822b2b;
$o100: #6d2424;

// Yellow

$y00: #f9cea8;
$y10: #f7c496;
$y20: #f6ba85;
$y30: #f5b073;
$y40: #f3a662;
$y50: #f29c50;
$y60: #da8c48;
$y70: #c27d40;
$y80: #a96d38;
$y90: #915e30;
$y100: #794e28;

// Tan

$t00: #ffeddd;
$t10: #ffe9d6;
$t20: #ffe5cf;
$t30: #ffe1c8;
$t40: #ffdec1;
$t50: #ffdaba;
$t60: #e6c4a7;
$t70: #ccae95;
$t80: #b39982;
$t90: #998370;
$t100: #806d5d;

$black: #000000;
$black50: #00000050;
$black75: #00000075;
$black90: #00000090;
$white: #FFFFFF;
$white50: #FFFFFF50;
$white75: #FFFFFF75;
$white90: #FFFFFF90;

// Font Sizes
$fxs: 0.625rem;
$fs: 0.75rem;
$fm: 0.875rem;
$fl: 1rem;
$fxl: 1.125rem;
$fxxl: 1.25rem;
$fjs: 1.5rem;
$fjm: 1.75rem;
$fjl: 2rem;
$fjxl: 2.25rem;
$fjxxl: 2.5rem;

// Spacing Sizes
$xs: 0.25rem;
$s: 0.325rem;
$m: 0.5rem;
$l: 1rem;
$xl: 2rem;
$xxl: 4rem;

@mixin flex-with-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bartex';
  src:
    url('./../public/fonts/Bartex.woff2') format("woff2"),
    url('./../public/fonts/Bartex.woff') format("woff"),
    url('./../public/fonts/Bartex.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

$bartex: 'Bartex', serif;

$rubik: 'Rubik', sans-serif;

/*

Font Example

h1 {
  font-family: Rubik, arial, sans-serif;
}

*/

.screenBody {
  height: 100%;
  padding: 1rem;

  background-color: $v50;
}