@use "palette" as *;

.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: $m;
  width: 6rem;
  height: 2rem;
  background: $white50;
  border-radius: 2rem;
  position: relative;
  transition: background-color .2s;
  border: 1px solid rgba($white, 0.5);
  box-shadow: 2px 2px 4px 0 $v100;
}

.label .toggleText {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: $fxl;
  font-weight: 500;
  color: rgba($white, 0.85);
  top: calc(0.25rem - 1px);
  left: 0.5rem; /* Initial position on the left when switch is off */
  height: 1.5rem;
  width: 2rem; /* Set the same width as .button */
  transition: left 0.2s; /* Updated to apply transition only on left property */
}

.label .button {
  content: '';
  position: absolute;
  top: calc(0.25rem - 1px);
  right: 0.25rem; /* Initial position on the right when switch is off */
  width: 2rem;
  height: 1.5rem;
  border-radius: 2rem;
  border: 1px solid rgba($white, 0.5);
  background: $v50;
  box-shadow: inset 1px 2px 2px 0 rgba($black, 0.25);
  transition: right 0.2s, left 0.2s, width 0.2s; /* Updated to apply transition on right, left, and width properties */
}

.label:hover .button {
  width: 2.125rem;
  transition: right 0.1s, left 0.1s, width 0.1s;
  box-shadow: inset 2px 3px 3px 0 rgba($black, 0.25);
}

.label:hover {
  box-shadow: 4px 4px 4px 0px rgba($black, 0.25);
}

.checkbox:checked + .label .button {
  right: calc(100% - 2.5rem); /* Slide to the left when switch is on */
  left: 0.25rem; /* Ensure left is set when transitioning towards the left */
}

.checkbox:checked + .label .toggleText {
  left: calc(100% - 2.75rem); /* Slide to the left during active or focus states */
  right: 0.5rem; /* Ensure right is set when transitioning towards the left */
}

.label:active .button,
.label:focus-within .button {
  width: 2.5rem; /* Enlarge width during active or focus states */
}
