@use "palette" as *;

$focus1white: $white50;
$focus2white: $white75;
$focus3white: $white90;

$focus1border: 1px solid $white50;
$focus2border: 1px solid $white75;
$focus3border: 1px solid $white90;

.trackCard {
  border-radius: calc($l - 3px);
  color: $white75;
  height: calc(5rem + 2px);
  background-color: rgba($white, 0.1);
  border: 1px solid rgba($white, 0.1);
  position: relative;

  .trackContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .loader {
    position: relative;
    background: rgba($white, 0.1);
    border-radius: inherit;
    border: 1px solid $white50;
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }
  
  .loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      110deg,
      rgba($p10, 0.25) 8%,
      rgba($p10, 0.2) 18%,
      rgba($p10, 0.25) 33%
    );
    background-size: 200% 100%;
    animation: shine 1s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

.iframe {
  width: 100%;
  position: relative;
  z-index: 1;
}

.unSelected .iframe {
  .iframe {
    background-color: $v40;
    border: $focus1border;
    z-index: 2;
  }
}

.unSelected:hover {
  background-color: $v30;
  border: $focus2border;
}

.selected {
  background-color: $v10;
  border: $focus2border;
}

.selected:hover {
  background-color: $v00;
  border: $focus3border;
}

.checkbox {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  margin: 1.5rem;
}
